<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TD5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3722E0461E5B10C8002918CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3722E05A1E5B10C9002918CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3722E0651E5B10C9002918CC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
